html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    padding-top: 70px;

}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

body > .container {
    padding: 60px 15px 0;
}

.container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

.nav {
    margin-bottom: 0;
}

.nav > li.dropdown.open {
    position: static;
}

@media screen and (min-width: 780px) {
    .nav > li.dropdown.open .home-dropdown {
        display: table;
        width: 100%;
        text-align: center;
        left: 0;
        right: 0;
        margin-top: -24px;
        padding-bottom: 20px;
        padding-top: 20px;
        background-color: rgba(155, 230, 253, 0.875);
    }

    .home-dropdown > li {
        display: table-cell;
    }

    .home-dropdown > li > a {
        color: #cc1f00;
        margin: 1px;
    }

    .home-dropdown > li > a:hover, .home-dropdown > li > a:focus {
        color: #cc1f00;
        text-decoration: none;
        background-color: transparent;
        border-color: rgba(0, 69, 146, 0.5);
        border-style: groove;
        border-radius: 25px;
        border-width: medium;
        margin: -2px;
    }

    .dropdown-icon {
        padding-right: 10px;
    }

}

@media screen and (min-width: 600px) and (max-width: 799px){
    .nav > li.dropdown.open .home-dropdown {
        display: list-item;
        width: 100%;
        text-align: center;
        background-color: rgb(0, 69, 146);
    }

    .home-dropdown > li > a > h4 {
        color: lightgray;
        font-size: 14px;
    }

    .home-dropdown > li > a:hover > h4, .home-dropdown > li > a:focus > h4 {
        color: #ff3c1a;
        text-decoration: none;
        background-color: transparent;
        font-size: 14px;
    }

    .dropdown-icon {
        display: none;
    }

}

@media screen and (max-width: 599px) {
    .nav > li.dropdown.open .home-dropdown {
        display: list-item;
        text-align: left;
        background-color: rgba(0, 69, 146, 0.5);
    }

    .home-dropdown > li > a > h4 {
        color: lightgray;
        font-size: 14px;
    }

    .home-dropdown > li > a:hover > h4, .home-dropdown > li > a:focus > h4 {
        color: #ff3c1a;
        text-decoration: none;
        background-color: transparent;
        font-size: 14px;
    }

    .dropdown-icon {
        display: none;
    }

}

.navbar-fixed-top {
    min-height: 100px;
}

.navbar-default {
    background-color: #004592;
    border-color: #003E83;
}

.navbar-default .navbar-nav > li > a {
    color: lightgray;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #ff3c1a;
    background-color: transparent;
}

.nav-container {
    padding-top: 25px;
}

.navbar-brand {
    padding-top: 0px;
    margin-top: -8px;
}

.navbar-default .navbar-nav > .active > a {
    color: lightgray;
    background-color: transparent;
}

.navbar-default .navbar-nav > .active > a {
    color: lightgray;
    background-color: transparent;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ff3c1a;
    background-color: transparent;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: lightgray;
    }
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-default .navbar-toggle {
    border-color: gray;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}

.carousel-indicators li {
    background-color: #004592;
}

.carousel-indicators .active {
    background-color: #ff3c1a;
}

.prezzo {
    color: #ff3c1a;
    font-size: 26px;
}

.smallTabText {
    font-size: 12px;
}

.modal-body > .img-responsive {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.product-modal {
    left: auto;
    right: auto;
}

.home-carousel {
    width: 100%;
    margin-bottom: 90px;
}

.home-carousel-bg {
    background-color: white;
}

#divCarousel {
    max-height: 790px;
    max-width: 790px;
    margin: auto;
}

.sl-navigation {
    margin-bottom: 10px;
}

.sl-navigation .nav-tabs > li, .nav-pills > li {
    float: none;
    display: inline-block;
    *display: inline; /* ie7 fix */
    zoom: 1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align: center;
}

.vertical-center {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.sl-title {
    margin: 0 0 0 0;
}

.alignleft {
    float: left;
}

.alignright {
    float: right;
}

.navigationPromo {
    padding-bottom: 40px;
}

.sl-offerta {
    position: relative;
    top: 25px;
}

.sl-offerta img {
    margin: 7px 7px 7px 0;
}

span.promo-discount {
    position: absolute;
    right: 0;
    z-index: 10;
    width: 50px;
    height: 50px;
    border-radius: 60px;
    text-align: center;
    background: red;
    color: white;
    font-size: 20px;
    line-height: 50px;
}

span.promo-gift {
    position: absolute;
    right: 0;
    z-index: 10;
    width: 50px;
    height: 50px;
    border-radius: 60px;
    text-align: center;
    background: darkorange;
    color: white;
    font-size: 20px;
    line-height: 50px;

}

span.promo-trial {
    position: absolute;
    right: 0;
    z-index: 10;
    width: 50px;
    height: 50px;
    border-radius: 60px;
    text-align: center;
    background: darkgreen;
    color: white;
    font-size: 20px;
    line-height: 50px;
}

.sl-cat-container {
    background: url("/hypermedia/media/sl_images/sl-categories-background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);

    position: fixed;
    display: block;

    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    z-index: 0;
}

.categories-second-row {
    margin-top: 10px;
}

.first-colored-box {
    background-color: #FFEC82;
    width: 100%;
    height: 150px;
}

.second-colored-box {
    background-color: #08E856;
    width: 100%;
    height: 150px;
}

.third-colored-box {
    background-color: #DEA674;
    width: 100%;
    height: 150px;
}

.fourth-colored-box {
    background-color: #E8648D;
    width: 100%;
    height: 150px;
}

.sl-categories .thumbnail {
    /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.7);

}

.quote-media {
    max-width: 500px;
}

.news-thumbnail {
    height:150px;
    width: 300px;
}

.news-row {
    margin-top: 30px;
}

.cropped {
    width: 300px;
    overflow: hidden;
}

.devThumb {
    height: 400px;
    margin-bottom: 10px;
}

a .thumbnail:hover{
	border-color:#004592;
	border-width: 1.5px;
}

.devicepromotion{
	border-color: #ff3c1a;
}

.ass-category-header {
    margin-bottom: 20px;
}

.call-to-contact {
    margin-top: 50px;
}

/* Removes the default 20px margin and creates some padding space for the indicators and controls */
.carousel {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
}
/* Reposition the controls slightly */
.carousel-control {
    left: -12px;
}
.carousel-control.right {
    right: -12px;
}
/* Changes the position of the indicators */
.carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}
/* Changes the colour of the indicators */
.carousel-indicators li {
    background: #c0c0c0;
}
.carousel-indicators .active {
    background: #333333;
}

/* Removes underline from text in introductories  */
.filtr-item a:hover{
	text-decoration: none;
}

.spinner input {
  text-align: right;
}

.input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 2%;
  vertical-align: middle;
  display: table-cell;
}

.input-group-btn-vertical > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 8px;
  margin-left: -1px;
  position: relative;
  border-radius: 0;
}

.input-group-btn-vertical > .btn:first-child {
  border-top-right-radius: 4px;
}

.input-group-btn-vertical > .btn:last-child {
  margin-top: -2px;
  border-bottom-right-radius: 4px;
}

.input-group-btn-vertical i {
  position: absolute;
  top: 0;
  left: 4px;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: rgba(255, 51, 0, 0.15);
}