html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    padding-top: 70px;

}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}
body > .container {
    padding: 60px 15px 0;
}
.container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}
code {
    font-size: 80%;
}

.nav {
    margin-bottom: 0;
}
.nav > li.dropdown.open {
    position: static;
}
.nav > li.dropdown.open .dropdown-menu {
    display: table; 
    width: 100%; 
    text-align: center; 
    left: 0; 
    right: 0;
    margin-top: -24px;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: rgba(155, 230, 253, 0.875);
}
.dropdown-menu > li { 
    display: table-cell; 
}
.dropdown-menu > li > a {
    color: #cc1f00;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #cc1f00;
    text-decoration: none;
    background-color: transparent;
    border-color: rgba(0, 69, 146, 0.5);
    border-style: groove;
    border-radius: 25px;
    border-width: medium;
    margin: -2px;
}
.dropdown-menu > li > a {
    margin: 1px;
}

.dropdown-icon {
    padding-right: 10px;
}

.navbar-fixed-top {
    min-height: 100px;
}

.navbar-default {
    background-color: #004592;
    border-color: #003E83;
}
.navbar-default .navbar-nav > li > a {
    color: lightgray;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #ff3c1a;
    background-color: transparent;
}
.nav-container {
    padding-top: 25px;
}
.navbar-brand {
    padding-top: 0px;
    margin-top: -8px;
}

.navbar-default .navbar-nav > .active > a  {
    color: lightgray;
    background-color: transparent;
}

.navbar-default .navbar-nav > .active > a {
    color: lightgray;
    background-color: transparent;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ff3c1a;
    background-color: transparent;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: lightgray;
    }
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-default .navbar-toggle {
    border-color: gray;
}

.small-carousel .small-item {
    height: 430px;
    width: 100%;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 70%;
  margin: auto;
}

.carousel-indicators li{
background-color: #004592;
}

.carousel-indicators .active{
background-color: #ff3c1a;
}

#prezzo {
    color: #ff3c1a;
    font-size: 26px;
}

.smallTabText {
    font-size: 12px;
}

.modal-body > .img-responsive {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.product-modal {
    left: auto;
    right: auto;
}

.home-carousel {
    width: 100%;
    margin-bottom: 90px;
}

.home-carousel-bg {
    background-color: white;
}

#divCarousel {
    max-height: 790px;
    max-width: 790px;
    margin: auto;
}

.sl-navigation {
    margin-bottom: 10px;
}

.sl-navigation .nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
}

.vertical-center {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.sl-title {
    margin: 0 0 0 0;
}

.alignleft {
    float: left;
}

.alignright {
    float: right;
}

#navigationPromo {
    padding-bottom: 40px;

.sl-offerta {
    position: relative;
    top: 25px;
}

.sl-offerta img {
    margin: 7px 7px 7px 0;
}


span.promo-discount{
    position:absolute;
    right: 0;
    z-index: 10;
    width: 50px;
    height: 50px;
    border-radius: 60px;
    text-align: center;
    background: red;
    color: white;
    font-size: 20px;
    line-height: 50px;
}


span.promo-gift{
    position:absolute;
    right: 0;
    z-index: 10;
    width: 50px;
    height: 50px;
    border-radius: 60px;
    text-align: center;
    background: darkorange;
    color: white;
    font-size: 20px;
    line-height: 50px;

}


span.promo-trial{
    position:absolute;
    right: 0;
    z-index: 10;
    width: 50px;
    height: 50px;
    border-radius: 60px;
    text-align: center;
    background: darkgreen;
    color: white;
    font-size: 20px;
    line-height: 50px;
}